#header {
    font-size: 40px;
    padding: 5px;
}

#today {
    font-size: large;
}

.main {
    margin-bottom: 32px;
}

.col-10, .col-1, .col-6 {
    margin: 0 !important;
    padding: 0 !important;
}

.form-control {
    color: black !important;

}

.time {
    font-size: 15px;
    padding: 5px !important;
    text-align: right;
    border-top: solid 1px grey;
}

.btn-primary {
    height: 100%;
    width: 100%;
    border-bottom: solid 1px;
    background-color: #51a6ea;
}

