html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #F8B195;
    width: 100%;
    z-index: 999;
    padding: 5px;
}

.sticky+.content {
    padding-top: 102px;
}

.jumbotron {
    width:100%;
    background-color: #F8B195;
}

#title {
    font-size: 40px;
    padding: 5px;
}

#today {
    font-size: large;
}

.main {
    margin-bottom: 32px;
    max-width: 960px;
}

.col-10, .col-1, .col-6 {
    margin: 0 !important;
    padding: 0 !important;
}

.col-10 {
    border: solid 1px cornsilk;
}

.form-control {
    color: black !important;
    line-height: 1em;
}

.button {
    border-bottom: solid 1px cornsilk;
}

.time {
    font-size: 15px;
    padding: 5px !important;
    text-align: right;
    border-top: solid 1px #BBBBBB;
}

.btn:focus, .btn:active, .btn:hover, .form-control:focus {
    outline: none !important;
    box-shadow: none;
}

.btn-primary {
    padding: 0 !important;
    color: white;
    border: none;
    height: 100%;
    width: 100%;
    background-color: #51a6ea;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #51a6ea;
}

.btn-primary:hover {
    background-color: #297CA0;
}

.buttons {
    margin-top: 25px;
}

.btn-outline-primary {
    height: 100%;
    width: 100%;
    font-weight: 900;
}

.btn-outline-primary:hover {
    background-color: #51a6ea;
}

.page-footer {
    background-color: #F8B195;
}

@media only screen and (max-width: 424px) {
    .time {
        padding: 0 !important;
        text-align: center;
    }
}

@media (hover:none), (hover:on-demand) {
    .btn-outline-primary:hover {
        background: none;
        color: #007bff;
    }
    .btn-primary:hover {
        background: #51a6ea;
        color: white;
    }
}
